/* Desktop */

body {
    background-color: #F1F1F1;
}

.menu {
    background-color: #513b56;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 15px 8px;
    row-gap: 32px;
}


a {
    text-decoration: none;
}

.title-app {
    margin-left: 40px;
    color: #fcfcfc;
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
}

.wellness-360 {
    color: #f1f1f1; 
}

main {
    padding: 0;
}

.hero-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 50px;
}

.hero-first-section h1 {
    color: #26172A;
    font-size: 42px;
    margin-bottom: 2;
    
}

.hero-first-section p {
    color:#525174;
    margin-top: 0;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    background-color: #513b56;
    border: none;
    color: #fcfcfc;
    padding: 18px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.hero-second-section img {
    border-radius: 8px;
    margin: 60px 40px;
}

.services-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto auto; 
    gap: 20px; 
    padding: 10px; 
    margin: 100px 40px;
}

.title-services {
    grid-column: 1 / 2; 
    grid-row: 1 / 2;    
  
}

.title-up {
    margin-top: 20px;
    font-weight: bolder;
    color: #513b56;
}

.title-services h2 {
    color: #26172A;
    font-size: 34px;
    margin-top: 0;
}

.subtitle-services {
    line-height: 24px;
    color: #525174d0;
}

.service {
    position: relative;
    width: 400px;
    height: 250px;
    overflow: hidden;
    border-radius: 6px;
}

.service img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: brightness(60%); 
    border-radius: 6px;
}

.service:hover img {
    transform: scale(1.1); 
}

.title-service {
    position: absolute;
    top: 20%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    z-index: 1;
    width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
}

.cta-free-trial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-image: linear-gradient(#F1F1F1, #513b564d);
    padding: 100px 0;
    color: #525174;
}

.cta-free-trial h2 {
    color: #513b56;
    font-size: 32px;
    margin: 0 0;
}

.cta-free-trial h3 {
    color:#513b56;
    margin-top: 15px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: #513b56;
    color: #f1f1f1;
    margin: 0 0;
    padding: 40px 0;
}

footer img{
    cursor: pointer;
}

.footer-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 40px;
    column-gap: 20px;
}

.footer-second {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    padding: 0 40px;
    column-gap: 20px;
}

/* Mobile */
@media screen and (max-width: 810px) {

    nav {       
        justify-content: center;
        align-items: center;
        padding: 8px 0;
        gap: 1rem; 
    }

    .title-app {
        font-size: 22px;
        font-weight: bold;
    }

    .hero-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-first-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 30px 50px;
    }
    
    .hero-first-section h1 {
        font-size: 36px;
        margin-bottom: 2;
        
    }
    
    button {
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    }

    .hero-second-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0;
    }

    .hero-second-section img {
        border-radius: 8px;
        margin: 20px 30px;
        width: 300px;
        height: 214px;
    }

    .services-section {
        display: flex;
        flex-direction: column;
        margin: 100px 20px;
    }

    .title-services {
        margin-left: 10px;
    }

    .service {
        width: 300px;
        height: 200px;
        margin-left: 10px;
    }
    
    .title-service {
        font-size: 18px;
    }

    .cta-free-trial {
        padding: 100px 20px;
    }
    
    .cta-free-trial h2 {
        font-size: 22px;
        margin: 0 0;
        text-align: center;
    }
    
    .cta-free-trial h3 {
        margin-top: 10px;
        line-height: 25px;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
    }

}
