/* Desktop */

body {
    padding: 0;
    margin: 0;
    background-color:#F1F1F1;
}

.menu {
    background-color: #513b56;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px 8px;
    row-gap: 32px;
}


a {
    text-decoration: none;
}

.title-app {
    margin-left: 40px;
    color: #fcfcfc;
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
}

.wellness-360 {
    color: #f1f1f1; 
}

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    line-height: 30px;
    color: #525174;
    margin: 20px 60px;
    padding: 30px 40px;
}

.contact-section img {
    border-radius: 6px;
}

.contact-section h2 {
    font-size: 30px;
    margin-bottom: 10px; 
    color: #26172A;
}

.contact-section p {
    margin-top: 0;
    font-size: 16px;
}

.contact-info {
    margin-right: 10px;
}

.contact-form {
    flex-basis: 500px;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

label.required::after {
    content: "*";
    color: red;
    margin-left: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
    background-color: #513b56;
    border: none;
    color: #fcfcfc;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bolder;
    margin-top: 14px;
    border-radius: 4px;
    cursor: pointer;
}